
<div class="form-group" *ngIf="edit;else create">
  <label>Prenom</label>
 <input class="form-control" [(ngModel)]="stagiaire.prenom">
  <label>Nom</label><input class="form-control" [(ngModel)]="stagiaire.nom">
  {{formation.duree}}
</div>
<ng-template #create>
  Prenom:<input class="form-control" [(ngModel)]="stagiaire.prenom">
  Nom:<input class="form-control" [(ngModel)]="stagiaire.nom">
</ng-template>
<div class="form-group">
  <button (click)="save()">enregistrer</button>
  <button (click)="cancel()">annuler</button>
</div>
