<header>
  <h1 style="text-align: center; color: #0f6674; margin-top: 30px">
    Edition/Ajout d'un stagiaire
    <img src="assets/images/ajc.PNG" alt="logo">
  </h1>
</header>
<div class="form-group" *ngIf="edit;else create">
  <label>Prenom</label>
 <input class="form-control" [(ngModel)]="stagiaire.prenom">
  <label>Nom</label><input class="form-control" [(ngModel)]="stagiaire.nom">
  {{formation.duree}}
</div>
<ng-template #create>
  Prenom:<input class="form-control" [(ngModel)]="stagiaire.prenom">
  Nom:<input class="form-control" [(ngModel)]="stagiaire.nom">
</ng-template>
<div class="form-group">
  <button (click)="save()" class="btn btn-success">Enregistrer</button>&nbsp;
  <button (click)="cancel()" class="btn btn-danger">Annuler</button>
</div>
