<div>
  <h1 align="center">Page de gestion de modules d'une formation</h1>
  Titre: <input [(ngModel)]="modulenseignement.titre"><br>
  Durée: <input [(ngModel)]="modulenseignement.duree"><br>
  Objectif: <input [(ngModel)]="modulenseignement.objectif"><br>
  Prérequis: <input [(ngModel)]="modulenseignement.prerequis"><br>
  Contenu: <input [(ngModel)]="modulenseignement.contenu"><br>
  Date de début: <input [(ngModel)]="modulenseignement.dateDebut"><br>
  Date de fin: <input [(ngModel)]="modulenseignement.dateFin"><br>
  Niveau: <input [(ngModel)]="modulenseignement.niveau"><br>
  Matière: <input [(ngModel)]="modulenseignement.matiere"><br>

</div>
