  <h1 align="center">Page de gestion des modules d'une formation</h1>
<div class="container">
  <!-- Si tu on est en mode edit les champ seront pour l'edition; sinon on crée => on passe aux champs de ng-template-->
  <div class="form-group" *ngIf="edit;else create">
  Titre:<input class="form-control" [(ngModel)]="modulenseignement.titre">
  Duree:<input class="form-control" [(ngModel)]="modulenseignement.duree">
  Objectif:<input class="form-control" [(ngModel)]="modulenseignement.objectif">
  Prerequis:<input class="form-control" [(ngModel)]="modulenseignement.prerequis">
  Contenu:<input class="form-control" [(ngModel)]="modulenseignement.contenu">
</div>
<ng-template #create>
  Titre:<input class="form-control" [(ngModel)]="modulenseignement.titre">
  Duree:<input class="form-control" [(ngModel)]="modulenseignement.duree">
  Objectif:<input class="form-control" [(ngModel)]="modulenseignement.objectif">
  Prerequis:<input class="form-control" [(ngModel)]="modulenseignement.prerequis">
  Contenu:<input class="form-control" [(ngModel)]="modulenseignement.contenu">
</ng-template>

<div class="form-group">
  <button class="btn btn-success" (click)="save()">enregistrer</button>
  <button class="btn btn-danger" (click)="cancel()">annuler</button>
</div>
</div>
