<header>
  <h1 style="text-align: center; color: #0f6674; margin-top: 30px">
    Liste des stagiaires
    <a [routerLink]="['/formations']" routerLinkActive="active"><img src="assets/images/ajc.PNG" alt="logo"></a>
  </h1>
</header>
<div class="container">

  <table class="table">
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Formation</th>
    </tr>
    <tr *ngFor="let s of stagiaires">
      <td>{{s.id}}</td>
      <td>{{s.nom}}</td>
      <td>{{s.prenom}}</td>
      <td>{{s.formation.id}}</td>
      <td></td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>

