<header>
  <h1 style="text-align: center; color: #0f6674; margin-top: 30px">
    Détails de la formation
    <img src="assets/images/ajc.PNG" alt="logo">
  </h1>
</header>
<div class="container">
  <table class="table">
    <tr>
      <th>Nom de la formation</th>
      <th>Date début formation</th>
      <th>Durée formation</th>
    </tr>
    <tr>
      <td>{{formation.id}}</td>
      <td>{{formation.dateDebut}}</td>
      <td>{{formation.duree}}</td>
    </tr>
  </table>
</div>
<app-stagiaires-formation></app-stagiaires-formation>
<app-modulenseignementlist></app-modulenseignementlist>
