<div>
  <h1> Détails de la formation {{formation.id}} </h1>

  <table>
    <tr>
      <th>Nom de la formation</th>
      <th>Date début formation</th>
      <th>Durée formation</th>
    </tr>
    <tr>
      <td>{{formation.id}}</td>
      <td>{{formation.dateDebut}}</td>
      <td>{{formation.duree}}</td>
    </tr>
  </table>

  <h2>Liste de stagiaires</h2>
  <table>
    <tr>
      <th>prénom</th>
      <th>nom</th>
      <th>mail</th>
      <th>tel</th>
    </tr>
    <tr *ngFor="let f of formations">
      <td>{{f.stagiaire.prenom}}</td>
      <td>{{f.dateDebut}}</td>
      <td>{{f.duree}}</td>
  </table>
</div>
